.idea
target
*/target
BedWarsProxy.iml
proxy.iml
proxy-api.iml
/dependency-reduced-pom.xml
/proxy (1).iml
/proxy (2).iml
/proxy-plugin/bwp-plugin.iml
/proxy-api/bwp-api.iml
/proxy-plugin/proxy-plugin.iml
/*/dependency-reduced-pom.xml
